@font-face {
    font-family: 'PT_Sans-Web-Regular';
    src: url('../fonts/PT_Sans-Web-Regular/PT_Sans-Web-Regular.eot');
    src: url('../fonts/PT_Sans-Web-Regular/PT_Sans-Web-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PT_Sans-Web-Regular/PT_Sans-Web-Regular.woff') format('woff'),
         url('../fonts/PT_Sans-Web-Regular/PT_Sans-Web-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'PT_Sans-Web-Bold';
    src: url('../fonts/PT_Sans-Web-Bold/PT_Sans-Web-Bold.eot');
    src: url('../fonts/PT_Sans-Web-Bold/PT_Sans-Web-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PT_Sans-Web-Bold/PT_Sans-Web-Bold.woff') format('woff'),
         url('../fonts/PT_Sans-Web-Bold/PT_Sans-Web-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
